.wpgmap {
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
}

/*noinspection CssUnusedSymbol*/
.wpgmap-static,
.wpgmap-dynamic {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.wpgmap-static {
    background-size: cover;
}